@media all and (min-width: 2200px) {

    .col-padding-left,
    .col-padding-right {
        padding-top: 9%;
    }
    .container-width {
        width: 80%;
    }

}

@media all and (min-width: 1602px) {

    .front-first p:nth-child(2) {
        font-size: 24px;
        left: 33%;
    }

    .front-second p {
        font-size: 24px;
        left: 33%;
        top: 49%;
    }

    .front-third p {
        font-size: 24px;
        left: 32%;
        top: 49%;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 18px;
    }
    .col-padding-right {
        padding-right: 15%;
        padding-top: 6%;
    }

    .col-padding-left {
        padding-right: 5%;
        padding-top: 6%;
    }

    .form-width {
        margin-right: 3%;
        margin-left: 2%;
    }

    .container-width {
        width: 80%;
    }
}


@media all and (min-width: 1442px) and (max-width: 1601px) {

    .front-second p {
        font-size: 26px;
        top: 56%;
        left: 33%;
    }
}

@media all and (min-width: 1368px) and (max-width: 1441px) {

    .form-width {
        margin-right: 20%;
        margin-left: 9%;
    }

    .col-padding-left {
        padding-left: 58px;
    }

    .col-padding-right {
        padding-left: 18px;
    }
    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 15px;
    }
}


@media all and (min-width: 1282px) and (max-width: 1367px) {

    .navbar-brand > img {
        height: 55px;
    }

    .count-container {
        width: 85px;
        height: 85px;
    }

    .count {
        font-size: 30px;
    }

    .front-first p:nth-child(2) {
        font-size: 22px;
        left: 43%;
    }

    .front-second p {
        font-size: 22px;
        left: 29%;
        top: 54%;
    }

    .front-third p {
        font-size: 22px;
        left: 30%;
        top: 54%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 14px;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 15px;
    }
    .col-padding-right {
        padding-right: 6%;
    }

    .col-padding-left {
        padding-left: 7%;
    }
    .form-width {
        margin-right: 24%;
        margin-left: 6%;
    }
}

@media all and (min-width: 1026px) and (max-width: 1281px) {

    .navbar-brand > img {
        height: 50px;
    }

    .front-first p:nth-child(2) {
        font-size: 21px;
        left: 43%;
    }

    .front-second p {
        font-size: 21px;
        left: 39%;
        top: 54%;
    }

    .front-third p {
        font-size: 21px;
        left: 40%;
        top: 54%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 14px;
    }

    #product-item-12 {
        background-size: 60% 60%;
    }
    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 14px;
    }
    .col-padding-right {
        padding-right: 9%;
    }

    .col-padding-left {
        padding-left: 10%;
    }
}




@media all and (min-width: 769px) and (max-width: 1025px) {

    .scroll-down span {
        left: 47.5%;
    }

    .navbar-brand > img {
        height: 45px;
    }

    .count-container {
        width: 75px;
        height: 75px;
    }

    .count {
        font-size: 30px;
    }

    #products .single-product-item .product-image {
        background-position: contain;
    }

    #products .single-product-item p {
        font-size: 19px;
    }

    .front-first p:nth-child(2) {
        font-size: 16px;
        left: 46%;
    }

    .front-second p {
        font-size: 16px;
        left: 43%;
        top: 53%;
    }

    .front-third p {
        font-size: 16px;
        left: 43%;
        top: 53%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 12px;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 13px;
    }

    #main-footer .company-footer p {
        font-size: 14px;
    }

    .col-padding-left {
        padding-left: 13%;
    }

    .contact-company {
        font-size: 20px;
    }

    .main-paragraph {
        font-size: 22px;

    }

    .paragraph-features p {
        font-size: 18px;
        width: 41%;
    }
}


@media all and (max-width: 768px) {

    .scroll-down span {
        left: 47%;
    }

    #contact {
        background-position: 86%;
    }
    
    .container-padding {
        padding-right: 2%;
        padding-left: 2%;
    }
    .scroll-down span {}
    .col-padding-right {

        padding-right: 10%;
        padding-left: 10%;
    }

    .col-padding-left {
        padding-left: 16%;
    }

    #main-footer .company-footer p {
        font-size: 10px;
    }

    .container-padding .col-md-4 {
        padding-bottom: 3%;
        padding-right: 11%;
        padding-left: 11%;
    }


    .front-second p {
        top: 48%;
        left: 35%;
    }

    .front-third p {
        top: 48%;
        left: 35%;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 13px;
    }

    .form-control {
        height: 37px;
    }

}


@media all and (max-width: 767px) {

    /*header*/
    .navbar-brand > img {
        height: 45px;
    }

    h1 {
        font-size: 40px;
    }
    #main-header .header-caption h2 {
        font-size: 1.8em;
    }

    .button-size {
        font-size: 14px;
    }
    .scroll-down .two {
        top: 115%;
    }
    .scroll-down span {
        top: 110%;
        left: 43.6%;
    }
    #main-nav a {
        font-size: 13px;
    }

    .navbar-nav > li > a {
        padding-top: 0px;
    }

    /*About us*/
    .wrapper {
        height: 160px;
    }

    .count-container {
        width: 75px;
        height: 75px;
    }

    .count {
        font-size: 30px;
    }

    .front-first p:nth-child(2) {
        font-size: 16px;
        left: 46%;
    }

    .front-second p {
        font-size: 16px;
        left: 43%;
        top: 53%;
    }

    .front-third p {
        font-size: 16px;
        left: 43%;
        top: 53%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 10px;
    }

    #about {
        padding-bottom: 30px;
    }

    .container-padding .col-md-4 {
        padding-bottom: 5%;
    }

    .section-description {
        font-size: 12px;
    }

    /*Contact*/
    #contact h5 {
        color: ghostwhite;
        font-size: 28px;
    }
    #contact {
        background-position: 79%;
    }
    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 11px;
        line-height: 8px;
    }

    .form-group {
        margin-bottom: 3px;
    }

    #contact input:not(:last-child) {
        height: 33px;
    }

    .col-padding-right {
        padding-top: 4%;
    }


    /*Map*/
    #map-section {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    #map-section h6 {
        margin-bottom: 10px;
    }
    /*Footer*/
    .contact-company {
        font-size: 20px;
        margin-top: 35px;
    }
    #main-footer .company-footer p {
        line-height: 10px;
        font-size: 8px;
    }

    #main-footer .company-footer p:not(:first-child) {
        display: none;
    }

    .website-counter {
        top: 0;
    }

}


