@media all and (min-width: 768px) and (max-width: 1024px) {
    .container-padding {
        padding-right: 2%;
        padding-left: 2%;
    }
    
   
}

@media all and (max-width: 1025px) {

    .navbar-brand > img {
        height: 45px;
    }

    .count-container {
        width: 75px;
        height: 75px;
    }

    .count {
        font-size: 30px;
    }

    #products .single-product-item .product-image {
        background-position: contain;
    }

    #products .single-product-item p {
        font-size: 19px;
    }

    .front-first p:nth-child(2) {
        font-size: 16px;
        left: 46%;
    }

    .front-second p {
        font-size: 16px;
        left: 43%;
        top: 53%;
    }

    .front-third p {
        font-size: 16px;
        left: 43%;
        top: 53%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 12px;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 13px;
    }

    #main-footer .company-footer p {
        font-size: 14px;
    }

    .col-padding-left {
        padding-left: 13%;
    }

    .contact-company {
        font-size: 20px;
    }

    .main-paragraph {
        font-size: 22px;

    }

    .paragraph-features p {
        font-size: 18px;
        width: 41%;
    }
}


@media all and (min-width: 1026px) and (max-width: 1281px) {

    .navbar-brand > img {
        height: 50px;
    }

    .front-first p:nth-child(2) {
        font-size: 21px;
        left: 43%;
    }

    .front-second p {
        font-size: 21px;
        left: 39%;
        top: 54%;
    }

    .front-third p {
        font-size: 21px;
        left: 40%;
        top: 54%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 14px;
    }

    #product-item-12 {
        background-size: 60% 60%;
    }
    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 14px;
    }
    .col-padding-right {
        padding-right: 9%;
    }

    .col-padding-left {
        padding-left: 10%;
    }
}

@media all and (min-width: 1282px) and (max-width: 1367px) {

    .navbar-brand > img {
        height: 55px;
    }

    .count-container {
        width: 85px;
        height: 85px;
    }

    .count {
        font-size: 30px;
    }

    .front-first p:nth-child(2) {
        font-size: 22px;
        left: 43%;
    }

    .front-second p {
        font-size: 22px;
        left: 29%;
        top: 54%;
    }

    .front-third p {
        font-size: 22px;
        left: 30%;
        top: 54%;
    }

    .back-first,
    .back-second,
    .back-third {
        font-size: 14px;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 15px;
    }
    .col-padding-right {
        padding-right: 6%;
    }

    .col-padding-left {
        padding-left: 7%;
    }
    .form-width {
        margin-right: 24%;
        margin-left: 6%;
    }
}



@media all and (min-width: 1368px) and (max-width: 1441px) {

    .form-width {
        margin-right: 20%;
        margin-left: 9%;
    }

    .col-padding-left {
        padding-left: 58px;
    }

    .col-padding-right {
        padding-left: 18px;
    }
    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 15px;
    }
}

@media all and (min-width: 1442px) and (max-width: 1601px) {

    .front-second p {
        font-size: 26px;
        top: 56%;
        left: 33%;
    }
}

@media all and (min-width: 1602px) {

    .front-first p:nth-child(2) {
        font-size: 24px;
        left: 33%;
    }

    .front-second p {
        font-size: 24px;
        left: 33%;
        top: 49%;
    }

    .front-third p {
        font-size: 24px;
        left: 32%;
        top: 49%;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 18px;
    }
    .col-padding-right {
        padding-right: 15%;
        padding-top: 6%;
    }

    .col-padding-left {
        padding-right: 5%;
        padding-top: 6%;
    }

    .form-width {
        margin-right: 3%;
        margin-left: 2%;
    }

    .container-width {
        width: 80%;
    }
}

@media all and (min-width: 2200px) {

    .col-padding-left,
    .col-padding-right {
        padding-top: 9%;
    }
    .container-width {
        width: 80%;
    }

}

}
